## This is the title! What fun :)

In [1]:
import pandas as pd

In [3]:
#This is just fake data to demonstrate.
raw1 = [[1,1,1,1,1], [2,2,2,2,2]]
raw2 = [[3,3,3,3,3], [4,4,4,4,4]]
raw3 = [[5,5,5,5,5], [6,6,6,6,6]]
column_names = ['A', 'B', 'C', 'D', 'E']

#I will use the fake data to create 3 dataframes.
df1 = pd.DataFrame(data=raw1, columns=column_names)
df2 = pd.DataFrame(data=raw2, columns=column_names)
df3 = pd.DataFrame(data=raw3, columns=column_names)

#Let's look at one of the dataframes to see what it looks like.
df1

   A  B  C  D  E
0  1  1  1  1  1
1  2  2  2  2  2

In [4]:
#Now we can make our empty dataframe.
final_df = pd.DataFrame(data=None, columns=column_names)

#Put our other dataframes into an array or list.
frames = [df1, df2, df3]

#Now we can iterate through the array and get the sums.
for entry in frames:
    final_df = final_df.append(entry.sum(), ignore_index=True)
    
#Let's look at the result.
final_df

    A   B   C   D   E
0   3   3   3   3   3
1   7   7   7   7   7
2  11  11  11  11  11

In [7]:
#Bonus: In python you can do that all in one line if you want.
final_df2 = pd.DataFrame(data = [entry.sum() for entry in frames], columns = column_names)
final_df2

    A   B   C   D   E
0   3   3   3   3   3
1   7   7   7   7   7
2  11  11  11  11  11